@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
  body {
    background: radial-gradient(
        52.52% 32.71% at 50% 97.66%,
        rgba(36, 160, 181, 0.2) 0%,
        rgba(36, 160, 181, 0) 100%
      ),
      #02191d;
    font-family: var(--font-rage), sans-serif;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }
  /* input:is(:-webkit-autofill, :autofill) {
    background-color: transparent;
  } */
  label:has(input:user-invalid:required) {
    color: red;
    animation: pulse 2s infinite;
  }
  input:focus,
  select:focus,
  .txtArea:focus {
    background-color: transparent;
    outline: none;
    border: transparent;
    box-shadow: 1px 1px 3px #24a0b5, -1px -1px 3px #24a0b5;
  }
  input[type="file"] {
    transform: translate(-50%, 0%);
  }
  button:disabled,
  input[type="text"]:disabled,
  input[type="email"]:disabled,
  select:disabled {
    opacity: 20%;
  }
  select {
    width: 10rem;
    background-color: transparent;
    border: #07373f 1px solid;
    padding: 12px;
    color: white;
    align-self: stretch;
    border-radius: 12px;
    width: 100%;
  }

  select > option {
    background-color: #07373f;
  }
  .description,
  .request {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .email {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .ellipse1 {
    box-shadow: 1px 1px #24a0b5;
  }
  .ellipse2 {
    box-shadow: -1px 1px #24a0b5;
  }
  .ellipse3 {
    box-shadow: 1px -1px #24a0b5;
  }
  .ellipse4 {
    box-shadow: -1px -1px #24a0b5;
  }
  .ellipse5 {
    box-shadow: 1px -1px #24a0b5, 1px 1px #24a0b5;
  }
  .ellipse6 {
    box-shadow: -1px -1px #24a0b5, -1px 1px #24a0b5;
  }
  nav p {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0.625rem;
  }
  .gradientBg {
    background: radial-gradient(
        57.42% 106.59% at 14.02% 32.06%,
        rgba(36, 160, 181, 0.2) 0%,
        rgba(36, 160, 181, 0) 100%
      ),
      rgba(10, 12, 17, 0.1);

    backdrop-filter: blur(7px);
  }
  .gradientBg2 {
    background: rgba(3, 30, 33, 0.1);
    backdrop-filter: blur(2px);
  }
  .active {
    border-radius: 0.75rem;
    border: 1px solid #197686;
    background: #12464e;
  }
  .inactive {
    border: 2px solid #197686;
  }
  input::file-selector-button {
    background-color: #24a0b5;
  }
  progress[value] {
    --color: #24a0b5; /* the progress color */
    --background: #0e464f; /* the background color */

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 100%;
    margin: 0;
    border-radius: 5px;
    background: var(--background);
  }
  progress[value]::-webkit-progress-bar {
    border-radius: 5px;
    background: var(--background);
  }
  progress[value]::-webkit-progress-value {
    border-radius: 5px;
    background: var(--color);
  }
  progress[value]::-moz-progress-bar {
    border-radius: 5px;
    background: var(--color);
  }
}
